.row.side-container
  .col-12
    .row.justify-content-center
      %h3 Classibridge
    .row.justify-content-center.margin-top-10px
      .vid-box
        <iframe src="https://www.youtube.com/embed/NL8h-tCB7YQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video"></iframe>

    .row.justify-content-center.margin-top-10px
      .img-box
        = image_tag "/images/comics/Comic_Cover1.jpg"
    .row.justify-content-center.margin-top-10px
      .img-box
        = image_tag "/images/comics/0020a.jpg"
    .row.justify-content-center.margin-top-10px
      .img-box
        = image_tag "/images/comics/0020b.jpg"
    .row.justify-content-center.margin-top-10px
      .img-box
        = image_tag "/images/comics/0020c.jpg"
    .row.justify-content-center.margin-top-10px
      .img-box
        = image_tag "/images/comics/0020d.jpg"
    .row.justify-content-center.margin-top-10px
