.row.articles-main
  .col-sm-12.col-md-8
    .articles-container
      .row.justify-content-center
        %h3.main-title Articles

      .row.justify-content-center.margin-top-10px
        .col-sm-6
          = render "article_tile", article: @first_article
        .col-sm-6
          = render "article_tile", article: @second_article

      %hr

      .articles-wrapper
        - @articles.each do |article|
          .row.article-row
            .col-5.col-sm-4.col-md-3
              = article_image_link article
            .col-7.col-sm-8.col-md-9
              %h3= link_to article.title, article_path(article.slug)
              .pub-date.sentinel= article.publish_date.strftime("%B %d, %Y")
              .preview.sentinel.d-none.d-sm-block= truncate(article.introduction, length: 150)
        %br/
        %br/
        .row.justify-content-center.margin-top-10px
          = will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer

  .d-none.d-sm-none.d-md-block.d.col-md-4.articles-side
    = render "side"
