.row.articles-main
  .col-sm-12.col-md-8
    .articles-container
      .row.justify-content-center
        %h3 Articles

      .row.justify-content-center.margin-top-10px
        .col-sm-6
          .article-box
            <figure class="snip1585">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample70.jpg" alt="sample70" />
            <figcaption>
            <h3>#{@first_article.title}</h3>
            </figcaption>
            = link_to "", article_path(@first_article.slug)
            </figure>
        .col-sm-6
          .article-box
            <figure class="snip1585">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample70.jpg" alt="sample70" />
            <figcaption>
            <h3>#{@second_article.title}</h3>
            </figcaption>
            = link_to "", article_path(@second_article.slug)
            </figure>

      %hr

      .articles-wrapper
        - @articles.each do |article|
          .row.article-row
            .col-5.col-sm-4.col-md-3
              = article_image_link article
            .col-7.col-sm-8.col-md-9
              %h3= link_to article.title, article_path(article.slug)
              .pub-date.sentinel= article.publish_date.strftime("%B %d, %Y")
              .preview.sentinel= truncate(article.introduction, length: 50)
        %br/
        %br/
        .row.justify-content-center.margin-top-10px
          = will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer

  .d-none.d-sm-none.d-md-block.d.col-md-4.articles-side
    = render "side"
