- content_for :title, @article.title
%br/
%br/
.article-wrapper
  = link_to 'Back to Articles', articles_path
  .article-header
    .article-header-image
      = article_banner @article

    %h3= @article.title
    %h4 Source: #{@article.author.name}

  %br/
  .article-body.row
    %div{class: article_body_display_class(@article)}
      = markdown(@article.body)
    - if @article.middle_image.present? && @article.middle_image.asset.present?
      .col-sm-5
        = article_middle_image @article

<div id="cf-comments-app" class="cf-bs" data-gallery-id="#{@art.gallery_id}" data-art-id="#{@art.id}" data-art-type="art" data-user-id="#{current_user.id if current_user}" data-user-font="#{current_user.font if current_user}" data-user-theme="#{current_user.color_theme if current_user}"/>
