- content_for :title, @article.title
%br/
%br/
.article-wrapper
  .article-header
    %h3= @article.title
    %hr.sep
    %h4= @article.author.name
    %h4.grey= @article.publish_date.strftime("%B %d, %Y")
    .article-header-image
      = article_banner @article

  - if !@article.youtube_url.blank?
    = render "youtube_video", article: @article
  - else @article.body
    = render "news_paper_article", article: @article
  .article-footer
    .row.justify-content-center
      %p Hope you enjoyed the article. Now it's time to beta test the ClassiFilter widget!



<script src="/javascripts/classifilter-init.js"></script>
<script type="text/javascript">
Classifilter.init({
galleryId: '#{@gallery.id}',
topics: '#{@article.topics}',
publishDate: '#{@article.publish_date}',
artistName: '#{@article.author.name}',
type: "article",
mode: "development"
});
</script>


- content_for :bottom do
  %h3 Thanks for Beta Testing
  %h3 Please come back again to comment and vote tomorrow!
