<%= link_to 'Back', articles_path %>
<br /><br />
<div class="article-wrapper">
  <div class="">
    <h3><%= @article.title %></h3>
  </div>
  <br />
  <div class="">
    <%= @article.body %>
  </div>
  <hr />
</div>

<div id="cf-comments-app" data-art-id="<%= @art.id %>" data-art-type="art" data-user-id="<%= current_user.id if current_user %>"/>
