- content_for :title, @article.title

%br/
%br/
.article-wrapper
  .article-header
    %h3= @article.title
    %hr.sep
    %h4= @article.author.name
    %h4.grey= @article.publish_date.strftime("%B %d, %Y")
    .article-header-image
      = article_banner @article
  .article-body.row.justify-content-center
    .body_text
      = markdown(@article.body)
  .center-block
    = article_image @article.top_image
  - if !@article.body_2.blank?
    .article-body.row.justify-content-center
      .body_text
        = markdown(@article.body_2)
  .center-block
    = article_image @article.middle_image
  - if !@article.body_3.blank?
    .article-body.row.justify-content-center
      .body_text
        = markdown(@article.body_3)
  .center-block
    = article_image @article.footer_image
  .article-footer
    .row.justify-content-center
      %p Hope you enjoyed the article. Now it's time to beta test the ClassiFilter widget!

<div id="cf-comments-app" class="cf-bs" data-gallery-id="#{@art.gallery_id}" data-art-id="#{@art.id}" data-art-type="art" data-user-id="#{current_user.id if current_user}" data-user-font="#{current_user.font if current_user}" data-user-theme="#{current_user.color_theme if current_user}"/>


- content_for :bottom do
  %h3 Thanks for Beta Testing
  %h3 Please come back again to comment and vote tomorrow!
