- content_for :title, @article.title
%br/
%br/
.article-wrapper
  .article-header
    %h3= @article.title
    .article-header-image
      = article_banner @article
    %h4 Source: #{@article.author.name}

  %br/
  .article-body.row
    .col-sm-12
      = markdown(@article.body)
  .article-body.row
    .col-sm-12
      = article_image @article.top_image
  - if !@article.body_2.blank?
    .article-body.row
      .col-sm-12
        = markdown(@article.body_2)
  .article-body.row
    .col-sm-12
      = article_image @article.middle_image
  - if !@article.body_3.blank?
    .article-body.row
      .col-sm-12
        = markdown(@article.body_3)
  .article-body.row
    .col-sm-12
      = article_image @article.footer_image



<div id="cf-comments-app" class="cf-bs" data-gallery-id="#{@art.gallery_id}" data-art-id="#{@art.id}" data-art-type="art" data-user-id="#{current_user.id if current_user}" data-user-font="#{current_user.font if current_user}" data-user-theme="#{current_user.color_theme if current_user}"/>
