<div class="form">
  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h3 class="text-center">Sign-Up Required Information </h3>

    <hr />

    <div class="form-group">
      <%= form.label :user_name %>
      <%= form.text_field :user_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <br />
      <input type="text" class="form-control" name="user[email]" >
    </div>

    <h3 class="text-center">Sign-Up Optional Information 1/2 </h3>

    <hr />

    <div class="form-group">
      <%= form.label :age_range %>
      <br />
      <input type="hidden" name="user[age_range]" value="">
      <div id="user-age-range" class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary">
          <input type="radio" name="user[age_range]" id="user_age_range_15" autocomplete="off" value="15"> 15-19
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="user[age_range]" id="user_age_range_20" autocomplete="off" value="20"> 20-24
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="user[age_range]" id="user_age_range_25" autocomplete="off" value="25"> 25-29
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="user[age_range]" id="user_age_range_30" autocomplete="off" value="30"> 30-34
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="user[age_range]" id="user_age_range_35" autocomplete="off" value="35"> 35-39
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="user[age_range]" id="user_age_range_40" autocomplete="off" value="40"> 40-44
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="user[age_range]" id="user_age_range_45" autocomplete="off" value="45"> 45-49
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="user[age_range]" id="user_age_range_50" autocomplete="off" value="50"> 50-54
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="user[age_range]" id="user_age_range_55" autocomplete="off" value="55"> 55-59
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="user[age_range]" id="user_age_range_60" autocomplete="off" value="60"> 60+
        </label>
      </div>
      <br />

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="age_range-opt-out" autocomplete="off">
        <label class="custom-control-label" for="age_range-opt-out">Prefer not to say</label>
      </div>
    </div>

    <hr />

    <div class="form-group">
      <label for="location">Location</label>
      <br />
      <%= form.text_field :latitude, class: "form-control" %>
      <%= form.text_field :longitude, class: "form-control" %>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="location-opt-out" autocomplete="off">
        <label class="custom-control-label" for="location-opt-out">Prefer not to say</label>
      </div>
    </div>

    <hr />

    <div class="form-group">
      <%= form.label :gender %>
      <br />
      <input type="hidden" name="user[gender]" value="">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary">
          <input type="radio" name="user[gender]" id="user_gender_0" autocomplete="off" value="0"> Male
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="user[gender]" id="user_gender_1" autocomplete="off" value="1"> Other
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="user[gender]" id="user_gender_2" autocomplete="off" value="2"> Female
        </label>
      </div>
      <br />
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="gender-opt-out" autocomplete="off">
        <label class="custom-control-label" for="gender-opt-out">Prefer not to say</label>
      </div>
    </div>

    <h3 class="text-center">Sign-Up Optional Information 2/2 </h3>

    <hr />

    <div class="form-group">
      <label for="avatar">Avatar</label>
      <br />
      Coming Soon
    </div>
    <div class="actions form-group">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
