%table
  %tbody
    %tr
      %th User ID
      %td #{@user.guest? ? "Guest" : @user.id}
    %tr
      %th User Name
      %td #{@user.guest? ? "Guest" : @user.user_name}
    %tr
      %th Email
      %td #{@user.guest? ? "Guest" : @user.email}
    %tr
      %th Type
      %td #{@feedback.type}
    %tr
      %th Category
      %td #{@feedback.category}
    %tr
      %th Browser
      %td #{@feedback.browser}
    %tr
      %th Browser Version
      %td #{@feedback.browser_version}
    %tr
      %th Platform
      %td #{@feedback.platform}
    %tr
      %th OS
      %td #{@feedback.os}
    %tr
      %th IP
      %td #{@feedback.ip}
    %tr
      %th Feedback
      %td #{@feedback.text}
