#app-access-container
  = form_for @app_access do |f|
    = render "/shared/error_messages", target: @app_access
    %h3 Almost there...
    %p Please enter your email address and the password that you received from Classibridge in the 'Classibridge's Instructions for Beta Testing' email.
    .form-group
      = f.label :email, "Email", class: "text-medium"
      = f.text_field :email, class: "form-control"
    .form-group
      = f.label :password_field, "Password", class: "cf-text-medium"
      = f.password_field :password, class: "form-control"
    .form-group.actions
      .row.cf-float-right
        = f.submit "Verify my identity", class: "btn btn-dark btn-sm"
