<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <link rel="icon" type="image/png" href="/assets/BkMrk" >

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag   widget_url %>
  </head>

  <body id="body" class="newspaper-bs">
    <div id="body-container" class="container-fluid">
      <nav id="cf-navbar" class="navbar navbar-expand-lg sticky-top">
        <%= link_to "Customer Newspaper Site-Test", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <% if Rails.env.production? %>
          <%= link_to "Competition", "https://cf-competition.herokuapp.com/login", class: "nav-link" %>
        <% end %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <%= link_to "CF-DeAuth", deauthorize_access_url, class: "nav-link ml-auto" %>
          </ul>
        </div>

      </nav>

      <nav id="cf-navbar-2" class="navbar navbar-expand-lg">
        second bar
      </nav>
      <p></p>
      <%= yield %>

    </div>
    <nav id="footer" class="navbar">
      <div class="msg mx-auto" style="width: 50%;">
        <h3>Thanks for Beta Testing</h3>
        <hr/>
        <h3>Classibridge</h3>
        <p><%= link_to "email@classibridge.com", "mailto:email@classibridge.com" %></p>
      </div>
    </nav>
  </body>
</html>
